<ul class="navbar-nav">
<li class="nav-item">
    <a [routerLink]="['styles']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link">Estilos</a>

<li class="nav-item">
    <a [routerLink]="['artists']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link">Artistas</a>
</li>
<li class="nav-item">
    <a [routerLink]="['albums']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link">Albumes</a>
</li>
<li class="nav-item">
    <a [routerLink]="['songs']" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link">Canciones</a>
</li>
</ul>