@import "variables";

.row {
  background-color: $primaryColor;
  color: $fontColor;
  min-height: 500px;
}

h2 {
    margin-top: 2%;
  text-align: center;
}

#formulario {
  color: $fontColor;
  width: 30%;
  margin: auto;
  margin-bottom: 2%;

  .form-group {
    margin-top: 2%;
  }

  .buttonsForm {
    text-align: center;

    button {
      background-color: red;
      margin: 2%;
    }
  }


}
