<div class="container-fluid">
    <div class="row">
        <div class="form-group">
            <span class="p-float-label">
                <p-autoComplete inputId="styleId" [(ngModel)]="selectedStyle" name="selectedStyle" class="auto" [suggestions]="styles"
                    (completeMethod)="getAllStyles($event)" field="name" (onSelect)="styleSelected();"
                    (onClear)="styleUnselected();" [required]="true" [forceSelection]="true"></p-autoComplete>
                <label for="styleId">Estilo</label>
            </span>
            <button class="btn btn-primary" (click)="searchByFilters()">
                <i class="pi pi-search" style="font-size: 1rem"></i>Buscar
            </button>
        </div>
        <app-news></app-news>
        <app-top-songs></app-top-songs>
        <app-most-rated></app-most-rated>
        <app-for-you></app-for-you>
    </div>
</div>