<h1>Lista de albumes</h1>

<table *ngIf="albums.length > 0">
    <thead>
        <th>Nombre</th>
    </thead>
    <tbody>
        <tr *ngFor="let album of albums">
            <td>{{ album.name }}</td>
            <td>
                <a [routerLink]="['/albums', album.id, 'songs']">
                    <button id="btnNavToAlbumSongs">Canciones</button>
                </a>        
                <button id="btnCreateNewAlbum">Crear nuevo</button>        
                <button id="btnDeleteAlbum">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>