@import "variables";

.row {
  background-color: $primaryColor;
  color: $fontColor;

  h3 {
    margin-top: 1%;
    text-transform: uppercase;
  }

  #novedades {
    display: flex;
    margin-bottom: 2%;
    justify-content: center;

    .card {
      margin: 1%;
      border: none;
      width: 15rem;
      
      .img-container {
        background-color: $secondaryColor;
        padding: 5%;

        img {
          border-radius: 5%;
        }
      }

      .card-body {
        background-color: $secondaryColor;

        .card-title {
          text-align: center;
          color: $fontColor !important;
        }
      }

    }

  }

}
