<div class="container-fluid">
    <div class="row">

        <h3>Novedades</h3>
        <hr>
        <div id="novedades" class="col-md-12">

            <div class="card" *ngFor="let song of songs">
                <div class="img-container"><img [src]="'data:image/webp;base64,' + song.image" class="card-img-top"
                        alt="...">
                </div>

                <div class="card-body">
                    <h5 class="card-title text-black">{{song.name}}</h5>
                </div>
            </div>

        </div>


    </div>
</div>