<h1>Lista de estilos</h1>

<table *ngIf="styles.length > 0">
    <thead>
        <th>Nombre</th>
    </thead>
    <tbody>
        <tr *ngFor="let style of styles">
            <td>{{ style.name }}</td>
            <td>
              <button id="btnCreateNewStyle" data-bs-toggle="modal" data-bs-target="#askNameToSave" >Crear nuevo</button>
              <button id="btnDeleteStyle" data-bs-toggle="modal" data-bs-target="#askConfirmationDelete" (click)="prepareStyleToDelete(style.id!);">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="askConfirmationDelete" tabindex="-1" aria-labelledby="askConfirmationDelete" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmación de borrado</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ¿Desea eliminar el estilo seleccionado? Esta operación no puede deshacerse
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteStyle();">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal -->
<div class="modal save" id="askNameToSave" tabindex="-1" aria-labelledby="askNameToSave" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir nuevo estilo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
          <div class="modal-body mb-3">
              <label for="exampleInputEmail1" class="form-label">Estilo</label>
              <input type="style" class="form-control" id="inputStyle">
          </div>
      </form>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="insertStyle();">Guardar</button>
      </div>
    </div>
  </div>
</div>