<div class="container-fluid">
  <div class="row contenido">
    <div class="col-md-12">
      <h3>Lista de estilos</h3>
      <button pButton pRipple type="button" label="Crear nuevo estilo" class="p-button-danger" id="btnCreateNewStyle"
        [routerLink]="['/styles', 'new']"></button>

      <table class="table table-light table-hover table-striped " *ngIf="styles.length > 0">
        <thead>
          <th>Nombre</th>
          <th>Acciones</th>
        </thead>
        <tbody>
          <tr *ngFor="let style of styles">
            <td class="align-middle">{{ style.name }}</td>
            <td class="align-middle">
              <button pButton pRipple type="button" label="Eliminar" class="p-button-danger" data-bs-toggle="modal"
                data-bs-target="#askConfirmationDelete" (click)="prepareStyleToDelete(style.id!);"></button>
              <button pButton pRipple type="button" label="Editar" class="p-button-danger"
                [routerLink]="['/styles', style.id]"></button>
            </td>
          </tr>
        </tbody>
      </table>


      <div class="botoneraPaginacion">
        <button [disabled]="first" pButton pRipple type="button" label="Anterior" class="p-button-danger"
          (click)="previousPage()"></button>
        <span>Pagina {{page + 1}} de {{totalPages}} - Elementos totales: {{totalElements}}</span>
        <button [disabled]="last" pButton pRipple type="button" label="Siguiente" class="p-button-danger"
          (click)="nextPage()"></button>
      </div>

    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="askConfirmationDelete" tabindex="-1" aria-labelledby="askConfirmationDelete"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación de borrado</h5>
        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Desea eliminar el estilo seleccionado? Esta operación no puede deshacerse
      </div>
      <div class="modal-footer">
        <button pButton pRipple type="button" label="Cancelar" class="p-button-danger" data-bs-dismiss="modal"></button>
        <button pButton pRipple type="button" label="Eliminar" class="p-button-danger" data-bs-dismiss="modal"
          (click)="deleteStyle();"></button>
      </div>
    </div>
  </div>
</div>