<div class="container-fluid">
    <div class="row contenido">
        <div class="col-md-12">
            <h3>Lista de canciones</h3>
            <button class="btn btn-primary" [routerLink]="['/songs','new']">Crear nueva Canción</button>
            <table class="table table-light table-hover table-striped " *ngIf="songs.length > 0">
                <thead>
                    <th>Nombre</th>
                    <th>Duración</th>
                    <th>Fecha Lanzamiento</th>
                    <th>Valoraciones</th>
                    <th>Visualizaciones</th>
                    <th>Álbum</th>
                    <th>Artista</th>
                    <th>Estilo</th>
                </thead>
                <tbody>
                    <tr *ngFor="let song of songs">
                        <td class="align-middle">{{ song.name }}</td>
                        <td class="align-middle">{{ song.duration }}</td>
                        <td class="align-middle">{{ song.dateLaunch }}</td>
                        <td class="align-middle">{{ song.valoration }}</td>
                        <td class="align-middle">{{ song.visualizations }}</td>
                        <td class="align-middle">{{ song.albumName }}</td>
                        <td class="align-middle">{{ song.artistName }}</td>
                        <td class="align-middle">{{ song.styleName }}</td>
                        <td class="align-middle">
                            <button class="btn btn-primary" id="btnDeleteSong" data-bs-toggle="modal"
                                data-bs-target="#askConfirmationDelete"
                                (click)="prepareSongToDelete(song.id!);">Eliminar</button>
                                <button class="btn btn-primary" id="btnDeleteSong"
                                [routerLink]="['/songs',song.id]">Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- Modal -->
            <div class="modal fade" id="askConfirmationDelete" tabindex="-1" aria-labelledby="askConfirmationDelete"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Confirmación de borrado</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Desea eliminar la canción seleccionada? Esta operación no puede deshacerse
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                                (click)="deleteSong();">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
