<div class="container-fluid">
    <div class="row contenido">
        <div class="col-md-12">
            <h3>Lista de canciones</h3>
            <button pButton pRipple type="button" label="Crear nueva canción" class="p-button-danger" [routerLink]="['/songs','new']"></button>
            <h4>Buscar:</h4>
            <div class="table-responsive" id="hola">
              <div class="form-group">
                
                <label for="albumId">Álbum</label>
                <p-autoComplete [(ngModel)]="selectedAlbum" name="selectedAlbum" [suggestions]="albums"
                    (completeMethod)="getAllAlbums($event)" field="name" (onSelect)="albumSelected();"
                    (onClear)="albumUnselected();" [required]="true" [forceSelection]="true"></p-autoComplete>
                
                <label for="artistId">Artista</label>
                <p-autoComplete [(ngModel)]="selectedArtist" name="selectedArtist" [suggestions]="artists"
                    (completeMethod)="getAllArtists($event)" field="name" (onSelect)="artistSelected();"
                    (onClear)="artistUnselected();" [required]="true" [forceSelection]="true"></p-autoComplete>
                
                <label for="styleId">Estilo</label>
                <p-autoComplete [(ngModel)]="selectedStyle" name="selectedStyle" [suggestions]="styles"
                    (completeMethod)="getAllStyles($event)" field="name" (onSelect)="styleSelected();"
                    (onClear)="styleUnselected();" [required]="true" [forceSelection]="true"></p-autoComplete>
                
                <label for="songId">Canción</label>
                <p-autoComplete [(ngModel)]="selectedSong" name="selectedSong" [suggestions]="songs"
                    (completeMethod)="getAllSongsFilter($event)" field="name" (onSelect)="songSelected();"
                    (onClear)="songUnselected();" [required]="true" [forceSelection]="true"></p-autoComplete>
            </div>
            <button pButton pRipple type="button" label="Buscar" class="p-button-danger" (click)="searchByFilters()">
              <i class="pi pi-search" style="font-size: 1rem"></i>
            </button>
            </div>
            
            <div class="table-responsive">
              <table class="table table-responsive table-light table-hover table-striped " *ngIf="songs.length > 0">
                <thead>
                    <th>Nombre</th>
                    <th>Duración</th>
                    <th>Fecha Lanzamiento</th>
                    <th>Álbum</th>
                    <th>Artista</th>
                    <th>Estilo</th>
                </thead>
                <tbody>
                    <tr *ngFor="let song of songs">
                        <td class="align-middle">{{ song.name }}</td>
                        <td class="align-middle">{{ song.duration }}</td>
                        <td class="align-middle">{{ song.dateLaunch | date: 'dd/MM/yyyy' }}</td>
                        <td class="align-middle">{{ song.albumName }}</td>
                        <td class="align-middle">{{ song.artistName }}</td>
                        <td class="align-middle">{{ song.styleName }}</td>
                        <td class="align-middle">
                            <button pButton pRipple type="button" label="Eliminar" class="p-button-danger" id="btnDeleteSong" data-bs-toggle="modal"
                            data-bs-target="#askConfirmationDelete"
                            (click)="prepareSongToDelete(song.id!);"></button>
                            <button pButton pRipple type="button" label="Editar" class="p-button-danger" [routerLink]="['/songs',song.id]"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="botoneraPaginacion">
                <button [disabled]="first" pButton pRipple type="button" label="Anterior" class="p-button-danger"
                  (click)="previousPage()"></button>
                <span>Pagina {{page + 1}} de {{totalPages}} - Elementos totales: {{totalElements}}</span>
                <button [disabled]="last" pButton pRipple type="button" label="Siguiente" class="p-button-danger"
                  (click)="nextPage()"></button>
              </div>
        </div>
    </div>
</div>

      <!-- Modal -->
      <div class="modal fade" id="askConfirmationDelete" tabindex="-1" aria-labelledby="askConfirmationDelete"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirmación de borrado</h5>
              <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Desea eliminar el artísta seleccionado? Esta operación no puede deshacerse
            </div>
            <div class="modal-footer">
              <button pButton pRipple type="button" label="Cancelar" class="p-button-danger"
                data-bs-dismiss="modal"></button>
              <button pButton pRipple type="button" label="Eliminar" class="p-button-danger" data-bs-dismiss="modal"
                (click)="deleteSong();"></button>
            </div>
          </div>
        </div>
      </div>