<h3 class="text-center">Los diseñadores</h3>
            <div class="descripcion">
                <div class="row text-center">
                    <div class="col-sm-6 mb-3">
                        <h4>Pablo F.</h4>
                        <img class="img-fluid" src="../../../assets/img/owners/pablof.jpg" alt="Pablo F">
                        <p>Descripcion</p>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <h4>Susana</h4>
                        <img src="../../../assets/img/owners/Susana Palacios.png" alt="">
                        <p>Descripcion</p>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <h4>Pablo S.</h4>
                        <img src="../../../assets/img/owners/Pablo Sanz.png" alt="">
                        <p>Descripcion</p>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <h4>Alexis</h4>
                        <img src="../../../assets/img/owners/Alexis Garcia.png" alt="">
                        <p>Descripcion</p>
                    </div>
                </div>
            </div>