<footer class="text-center text-lg-start" id="cuerpoFooter" >
    <div class="container p-4" >
        <div class="row" >
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h6 class="text-uppercase">Sobre nosotros</h6>
                <p>
                    The Green Team. Somos un grupo de melónamos que nos unimos para crear la primera
                    aplicación web del país en reproducir la música más sonada en el panorama musical internacional. 
                    Decidimos unir nuestra pasión por la música para brindar una aplicación para gente como nosotros, los amantes de la música.
                </p>
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h6 class="text-uppercase">Términos de uso</h6>
                <p>
                    Estos Términos del Servicio reflejan la forma de trabajar de Kreitekfy como empresa,
                    las leyes por las que nos regimos y determinados aspectos que siempre hemos creído que son ciertos.
                    Por ello, estos Términos del Servicio ayudan a definir la relación que tiene Kreitekfy contigo cuando interactúas con nuestros servicios.
                </p>
            </div>
        </div>
    </div>
    <div class="text-center p-3" id="copyright">
        © 2022 Copyright: Green Team
    </div>
</footer>