<div class="container-fluid">
    <div id="nosotros" class="row">
        <div class="col-lg-6 col-sm-12 mt-4 mb-4">
            <h3 class="text-center">¿Quiénes somos?</h3>
            <div class="descripcion">
                <p>The Green Team. Somos un grupo de melónamos que nos unimos para crear la primera aplicación web del
                    país en
                    reproducir la música más sonada en el panorama musical internacional. Decidimos unir nuestra pasión
                    por la música para brindar una aplicación para gente como nosotros, los amantes de la música.</p>

                <div id="greenTeam"><img src="../../assets/img/verde.png" alt=""></div>

            </div>

            <h3 class="text-center mt-3">¿Dónde estamos?</h3>
            <div class="descripcion">
                <p>Cada miembro del equipo que vive en una parte diferente de España, pero nuestra sede está en Andorra
                </p>
                <div id="mapa" class="map-container">
                    <iframe src="https://maps.google.com/maps?q=andorra&t=&z=13&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-sm-12 mt-4 mb-4">
            <app-team></app-team>
        </div>

    </div>
</div>