@import "variables";

.user {
    width: 90px;
}

.modal{
    .modal-body, .modal-header, .modal-footer, #modal-buttons{
        background-color: $secondaryColor;
        color: $fontColor;
        border: none;
    }
}


